.divnew {
    margin: 0;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: rgb(45, 150, 89);
    height: 10px;
    width: 10px;
    top: 50%;
    left: 50%;
  }
